
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
nav{
    display: flex;
    justify-content: space-between;
    height: 50px;
    }
nav ul{
    list-style: none;
    display: flex;
    margin-top: 10px;
    gap: 30px;
    font-size: 13px;
    color: darkblue;
    word-spacing: 15px;
    
}
.nav-2{
    height: 100px;
    display: flex;

}
.nav-2 input{
    width: 800px;
    height: 30px;
  
}
.nav-2 ul{
    word-spacing: 0;
    font-size: 15px;
    padding-right: 20px;
    padding-top: 30px;
}

.text-img{
    width: 100%;
}
.main{
    height: 70px;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: space-between;
    background-color: rgba(250, 235, 215, 0.228);
}

.main-1 ul{
display: flex;
list-style: none;
gap: 30px;
font-size: 15px;
align-items: center;
font-weight: bold;
color: darkblue;

}
.image{
    height: 250px;
    width: 100%;
    display: flex;
    justify-content: space-evenly;
}
.card img{
height: 80%;
width: 100%;
background-color: rgba(250, 235, 215, 0.177);
padding: 2px 20px ;


}
.card-body{
    height: 30px;
    width: 100%;
text-align: center;
font-size: 18px;


}

#carouselExampleDark {
  max-width: auto;
  margin: 40px auto;
  border-radius: 10px;
  overflow: hidden;
  box-shadow: 0 4px 20px rgba(0, 0, 0, 0.2);
}

.carousel-item img {
  height: 700px;
  object-fit: cover;
}

.carousel-caption {
  background-color: rgba(0, 0, 0, 0.5);
  padding: 20px;
  border-radius: 8px;
}

.carousel-caption h5 {
  font-size: 24px;
  font-weight: bold;
  color: #fff;
}

.carousel-caption p {
  font-size: 16px;
  color: #ddd;
}

.carousel-indicators button {
  background-color: #333;
}

.carousel-indicators .active {
  background-color: #fff;
}

.carousel-control-prev-icon,
.carousel-control-next-icon {
  background-color: #000;
  border-radius: 50%;
  padding: 10px;
}
.wear{
    height: 400px;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    justify-content: space-evenly;
}

.wear-1 h1{
    font-size: 50px;
    font-weight: bolder;
    color: rgba(37, 36, 36, 0.972);
}
.wear-1 h2{
    font-size: 50px;
    font-weight: bold;
    font-family: 'Courier New', Courier, monospace;
    color: rgba(8, 7, 7, 0.952);
}
.wear-1 p{
    font-size: 20px;
    margin-top: 20px;
    color: rgba(37, 36, 36, 0.952);
}
.wear-2{
    height: 100%;
    width: 60%;
    display: flex;
    justify-content: space-evenly;
}

.box{
    height: 400px;
    width: 300px;

}
.box h5{
    font-size: 20px;
    text-align: center;
    margin-top: 10px;
    color: rgb(79, 70, 70);
}
.box button{
  margin: 5% 23%;
    height: 50px;
    width: 150px;
    font-size: 20px;
    color: white;
    background-color:rgb(31, 187, 174);
    border: none;
    border-radius: 10px;
    cursor: pointer;
}
.box1 img{
height: 70%;
width: 100%;
}
.box2 img{
height: 70%;
width: 100%;
}
.box3 img{
height: 70%;
width: 100%;
}
.box4 img{
height: 70%;
width: 100%;
}

.free-lens{
    height: 80px;
    width: 100%;
    margin-top: 5%;
}
.free-lens h4{
    font-size: 30px;
    text-align: center;
    color: rgba(37, 36, 36, 0.952);
    padding-top: 20px;
}
.find{
   height: 800px;
    width: 100%;
    margin-top: 2%;
    background-image: url(https://static5.lenskart.com/media/uploads/Desktop-v2-topbanner-hustlrswitch-GJ-150525.png);
    background-size: cover;

}
.find button{
    margin-left: 43%;
    margin-top: 680px;
    height: 60px;
    width: 370px;
    font-size: 18px;
    font-weight: bold;
    background-color:white;
    border: none;
    border-radius: 10px;
    cursor: pointer;
}
.buy{
    height: 500px;
    width: 100%;
    margin-top: 3%;
    background-image: url(https://static5.lenskart.com/media/uploads/1920x520-desktop-banner.png);
    background-size: cover;
}
.buy button{
    margin-left: 42%;
    margin-top: 375px;
    height: 80px;
    width: 250px;
    font-size: 18px;
    font-weight: bold;
    background-color:rgb(71, 81, 49);
    border: none;
    border-radius: 50px;
    cursor: pointer;
}

.book{
    height: 80px;
    width: 100%;
    margin-top: 5%;
}
.book h4{
    font-size: 30px;
    text-align: center;
    color: rgba(37, 36, 36, 0.952);
    padding-top: 20px;
}
.book-now{
    height: 500px;
    width: 100%;
    margin-top: 3%;
    background-image: url(https://static5.lenskart.com/media/uploads/hechome11.png);
    background-size: cover;
}
.book-now button{
    margin-left: 8%;
    margin-top: 377px;
    height: 70px;
    width: 205px;
    font-size: 18px;
    font-weight: bold;
    color: white;
    background-color:rgb(4, 4, 103);
    border: none;
    border-radius: 50px;
    cursor: pointer;
}
.free-onlile{
    height: 80px;
    width: 100%;
    margin-top: 5%;
}
.free-onlile h4{
    font-size: 30px;
    text-align: center;
    color: rgba(37, 36, 36, 0.952);
    padding-top: 20px;
}
.try-now{
    height: 500px;
    width: 100%;
    margin-top: 3%;
    background-image: url(https://static1.lenskart.com/media/desktop/img/2024/jun/eyetest/Turban-DesktopBanner.jpg);
    background-size: cover;
}
.try-now button{
    margin-left: 46%;
    margin-top: 320px;
    height: 60px;
    width: 140px;
    font-size: 18px;
    font-weight: bold;
    color: white;
    background-color:rgb(9, 9, 71);
    border: none;
    border-radius: 20px;
    cursor: pointer;
}
.premium{
    height: 80px;
    width: 100%;
    margin-top: 5%;
}
.premium h4{
    font-size: 30px;
    text-align: center;
    color: rgba(37, 36, 36, 0.952);
    padding-top: 20px;
}
.shop-now{
    height: 500px;
    width: 100%;
    margin-top: 3%;
    background-image: url(https://static1.lenskart.com/media/desktop/img/16-sep-24/r1.jpeg);
    background-size: cover;
}
.shop-now button{
    margin-left: 6.5%;
    margin-top: 350px;
    height: 66px;
    width: 203px;
    font-size: 25px;
    font-weight: 100;
    color: white;
    background-color:black;
    border: 3px solid rgb(6, 5, 5);
    border-radius: 20px;
    cursor: pointer;
}
.shark{
    height: 80px;
    width: 100%;
    margin-top: 5%;
}
.shark h4{
    font-size: 30px;
    text-align: center;
    color: rgba(37, 36, 36, 0.952);
    padding-top: 20px;
}
.shopp-now{
    height: 500px;
    width: 100%;
    margin-top: 3%;
    background-image: url(https://static1.lenskart.com/media/desktop/img/Dec22/1-Dec/Homepage-Banner-web.gif);
    background-size: cover;
}
.shopp-now button{
    margin-left: 45.3%;
    margin-top: 372px;
    height: 58px;
    width: 178px;
    font-size: 25px;
    font-weight: 100;
    color: white;
    background-color:black;
    border-radius: 50px;
    cursor: pointer;
}
.trending{
    height: 80px;
    width: 100%;
    margin-top: 5%;
}
.trending h4{
    font-size: 30px;
    text-align: center;
    color: rgba(37, 36, 36, 0.952);
    padding-top: 20px;
}
.shoppp-now{
    height: 500px;
    width: 100%;
    margin-top: 3%;
    background-image: url(https://static1.lenskart.com/media/desktop/img/Jan23/sunglasses/Sun-Banner-web.gif);
    background-size: cover;
}
.shoppp-now button{
    margin-left: 20%;
    margin-top: 372px;
    height: 58px;
    width: 178px;
    font-size: 25px;
    font-weight: bold;
    color: rgb(241, 231, 231);
    background-color:rgb(9, 9, 40);
    border: 2px solid gray;
    border-radius: 50px;
    cursor: pointer;
}
.calling{
    height: 130px;
    width: 100%;
    margin-top: 3%;
    background-image: url(https://static5.lenskart.com/media/uploads/reachcs1.jpg);
    background-size: cover;
    border: 2px solid gray;
}
.calling button{
    margin-left: 76.5%;
    margin-top: 32px;
    height: 69px;
    width: 330px;
    font-size: 25px;
    font-weight: bold;
    color: rgb(241, 231, 231);
    background-color:transparent;
    border: 2px solid gray;
    border-radius: 50px;
    cursor: pointer;
}
footer{
    height: 500px;
    width: 100%;
    margin-top: 3%;
    background-color: rgb(8, 8, 72);

}

.footer {
  background-color:rgb(7, 7, 55);
  color: #fff;
  padding: 60px 8%;
}

.footer-container {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  gap: 40px;
}

.footer-col {
  flex: 1 1 250px;
}

.footer-col h3 {
  margin-bottom: 20px;
  font-size: 18px;
  border-bottom: 2px solid #00a78e;
  display: inline-block;
  padding-bottom: 5px;
}

.footer-col ul {
  list-style: none;
}

.footer-col ul li {
  margin: 10px 0;
}

.footer-col ul li a {
  color: #ddd;
  text-decoration: none;
  transition: color 0.3s;
}

.footer-col ul li a:hover {
  color: #ebf5f2;
}

.logo {
  width: 150px;
  margin-bottom: 15px;
}

.subscribe {
  display: flex;
  gap: 10px;
  margin: 15px 0;
}

.subscribe input {
  flex: 1;
  padding: 10px;
  border: none;
  border-radius: 4px;
  outline: none;
}

.subscribe button {
  background-color: #12e8cf;
  border: none;
  color: white;
  padding: 10px 20px;
  border-radius: 4px;
  cursor: pointer;
  transition: background 0.3s;
}

.subscribe button:hover {
  background-color: #008f79;
}

.social-icons a {
  color: white;
  margin-right: 15px;
  font-size: 18px;
  transition: color 0.3s;
}

.social-icons a:hover {
  color: #00a78e;
}

hr {
  margin: 40px 0 20px;
  border: 0.5px solid #333;
}

.footer p {
  text-align: center;
  font-size: 14px;
  color: #aaa;
}

@media (max-width: 768px) {

  nav {
    flex-direction: row;
    align-items: center;
    height: auto;
  }

  nav ul {
    flex-direction: row;
    align-items: center;
    gap: 8px;
    font-size: 7px;
  }

  .nav-2 {
    flex-direction: row;
    align-items: center;
  }
  .menu{
    display: block;
    font-size: 20px;
    padding-right: 20px;
    padding-top: 20px;
  }
  .btn-menu{
    display: none;
  }

  .nav-2 img {
    width: 140px;
  }

  .nav-2 input {
    width: 100%;
    height: 30px;
    margin-left: 30px;
  }

  .nav-2 ul {
    flex-direction: column;
    align-items: center;
    font-size: 13px;
    padding: 10px 0;
  }

  .main {
    flex-direction: column;
    height: auto;
    padding: 10px 0;
  }

  .main-1 ul {
    flex-wrap: wrap;
    justify-content: center;
    font-size: 13px;
    gap: 15px;
  }

  .image {
    display: grid;
    grid-template-columns: auto auto;
    flex-direction: row;
    align-items: center;
    height: auto;
  }



  .card-body {
    font-size: 16px;
  }

  .carousel-item img {
    height: 300px;
  }

  .wear {
    grid-template-columns: auto auto auto;
    justify-content: center;
    align-items: center;
    height: auto;
  }

  .wear-1 h1, 
  .wear-1 h2 {
    font-size: 28px;
  }

  .wear-1 p {
    font-size: 16px;
    margin: 10px 0;
  }

  .wear-2 {
    display: grid;
    grid-template-columns: auto auto;
    align-items: center;
  }
  .find {
    height: 400px;
    background-image: url(https://cdn.greatdeals.com.sg/wp-content/uploads/2025/06/21105631/lenskart-free-lens-replacement-promo.jpg);
    background-size: cover;
  }
  .free-lens h4,
  .book h4,
  .free-onlile h4,
  .premium h4,
  .shark h4,
  .trending h4 {
    font-size: 11px;
    
  }
  .find button{
    width: 170px;
    height: 40px;
    font-size: 11px;
    border: 1px solid black;
    background-color:burlywood;
    text-align: center;
    margin-top: 350px;
    margin-left: 25%;
    
  }
  .buy{
    height: 480px;
    width: 100%;
    background-image: url(https://static5.lenskart.com/media/uploads/EYE_VC_CRM_3-crm-plp.png);
    background-size: cover;
  }
  .buy button{
    width: 180px;
    height: 40px;
    font-size: 10px;
    border: 1px solid black;
    background-color:rgba(255, 228, 196, 0.435);
    text-align: center;
    margin-top: 430px;
    margin-left: 5%;
  }

  .book-now {
    height: 380px;
    background-image: url(https://static5.lenskart.com/media/uploads/1200_x_637.png);
    background-size: cover;
  }
  
.book-now button{
   width: 200px;
    height: 40px;
    font-size: 12px;
    background-color:darkgrey;
    text-align: center;
    margin-top: 240px;
    margin-left: 2%;
}

  .try-now {
    height: 550px;
    background-image: url(https://static1.lenskart.com/media/desktop/img/harmony/11-jun-24/eye-test/Eyecare-eyetest-main-banner-1.png);
    background-size: cover;
  }

  .try-now button{
    width: 150px;
    height: 35px;
    border-radius: 10px;
    font-size: 15px;
    border: 1px solid black;
    background-color:rgb(9, 9, 71);
    text-align: center;
    margin-top: 180px;
    margin-left: 42%;
  }

   .shop-now{
    height: 200px;
    background-size: cover;
  }

   .shop-now button {
    width: 100px;
    height: 35px;
    border-radius: 10px;
    font-size: 10px;
    color: white;
    border: 1px solid black;
    background-color:black;
    text-align: center;
    margin-top: 140px;
    margin-left: 6%;
  }
   .shopp-now{
    height: 200px;
    background-size: cover;
  }
.shopp-now button{
     width: 100px;
    height: 35px;
    border-radius: 10px;
    font-size: 10px;
    color: white;
    border: 1px solid black;
    background-color:black;
    text-align: center;
    margin-top: 140px;
  }
  .shoppp-now{
    height: 200px;
    background-size: cover;
  }
  .shoppp-now button{
      width: 100px;
      height: 35px;
      border-radius: 10px;
      font-size: 10px;
      color: white;
      border: 1px solid black;
      background-color:rgb(9, 9, 40);
      text-align: center;
      margin-top: 140px;
      margin-left: 20%;
  }
    .calling{
    height: 110px;
    width: auto;
    background-size: cover;
  }
  
  .calling button{
    width: 300px;
    height: 50px;
    font-size: 15px;
    border: none;
    text-align: center;
    margin-top: 30px;
    margin-left: 57%;
  }

  .box {
    width: 80%;
    height: auto;
    margin-bottom: 20px;
  }

  .box img {
    height: auto;
  }

  .box h5 {
    font-size: 16px;
  }

  .box button {
    width: 80%;
    height: 45px;
    font-size: 16px;
  }

  
  
  
  
  
  


  .footer-container {
    flex-direction: row;
    align-items: flex-start;
  }

  .footer-col {
    width: 100%;
    margin-bottom: 20px;
  }

  .subscribe {
    flex-direction: column;
    width: 100%;
  }

  .subscribe input,
  .subscribe button {
    width: 100%;
  }

  .social-icons {
    margin-top: 10px;
  }

  .footer p {
    text-align: center;
    font-size: 12px;
  }
}














