body {
  font-family: Arial;
  background: #4facfe;
  color: white;
  text-align: center;
  padding-top: 50px;
}

.container {
  background: rgba(0,0,0,0.3);
  padding: 20px;
  border-radius: 10px;
  width: 300px;
  margin: auto;
}

input {
  padding: 10px;
  width: 70%;
  border: none;
  border-radius: 5px;
}

button {
  padding: 10px;
  border: none;
  background: #00c6ff;
  color: white;
  cursor: pointer;
  border-radius: 5px;
}

#weatherResult {
  margin-top: 20px;
}